// utilities
.ml-auto{
  margin-right: 0;
}

.current{
  color: #fff;
}


//margin

.ml-1{
  margin-left: 1rem;
}

//padding

.p-1{
  padding: 1rem;
}

.p-2{
  padding: 2rem;
}

.p-3{
  padding: 3rem;
}

.py-1{
  padding: 1rem 0;
}
.py-2{
  padding: 2rem 0;
}

.py-3{
  padding: 3rem 0;
}

.px-1{
  padding-right: 1rem;
  padding-left: 1rem;
}
.px-2{
  padding-right: 2rem;
  padding-left: 2rem;
}

.px-3{
  padding-right: 2rem;
  padding-left: 2rem;
}

// center align
.text-center{
  text-align: center;
}
